@charset "EUC-KR";

body{
	background-color: #ddd;	
	text-align : center;
}

header, footer, .contents{
	width : 80%;
	background-color: #FFF;	
	margin : auto;
}

header{
	height : 100px;
	position : relative;
}

footer{
	height : 100px;
	position : relative;
}

.nav{
	background-color: #FFF;	
}

.nav > ul{
	line-height : 100px;
}

.nav > ul > li{
	list-style : none;
	background-color : black;
	color : white;
	display : inline-block;
	width : 12%;
	margin : 0px 10px;
	line-height : 20px;
}

.nav > ul > li > a{
	color : white;
	display : block;
	padding : 10px;
	text-decoration : none;
}


.contents_footer{
	position : absolute;
	/*height: 50%;
	top : 25%;
	width : 50%;
	left : 25%;*/
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}
